<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h4 class="text-white h4">Customer Portal</h4>
        <h6 class="text-white h6">Welcome to our Customer Details Portal! Your information, our priority</h6>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid justify-content-end">
                <!-- <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li ngbDropdown class="nav-item dropdown">
                            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">Services</a>
                            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a ngbDropdownItem routerLink="#">Add Customer</a></li>
                                <li><a ngbDropdownItem routerLink="#">Search Customer</a></li>
                                <li><a ngbDropdownItem routerLink="#">Customer Directory</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div >
    <img src="assets/Financial-Services-Background.jpg" alt="My Image" class="img-fluid img-thumbnail">
</div>